.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

table {
  width: 50%;
  border-collapse: collapse;
  background-color: black;
}

tr {
  border: 1px solid #ddd;
  text-align: left;
  color:white;
}
td{
  padding: 8px;
}
.symbol{
  text-transform: capitalize;
}